@using WebRegistration.models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebRegistration
@{


    Layout = "_Layout";


}

<div>
    <form>
        <input type="type" name="name" value="" />
        <input type="type" name="name" value="" />
        <input type="type" name="name" value="" />
    </form>
</div>